html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

input::-ms-clear {
  display: none;
}

.App {
  background-color: #e4e4e4;
}

.activeInput {
  label {
    transform: translate(0, -500%) !important;
  }

  &::before {
    width: 100%;
  }
}

.icon {
  &-note {
    stroke: green !important;

    > * {
      stroke: green !important;
    }
  }
}

.cta {
  &-addToList {
    position: relative;
    &--icon {
      width: 12.5%;
      max-width: 2.4rem;
      height: auto;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translate(0%, -45%);
      transition: 0.225s transform ease-out, 0.18s opacity ease;

      @media screen and (max-width: 1650px) {
        max-width: 2.1rem;
      }

      svg {
        max-width: 100%;
      }

      &-2 {
        transform: translate(0%, 200%);
      }
    }
    &:hover {
      div {
        opacity: 1;
        transform: translate(0%, -45%);
      }
    }
  }

  &-zoomIn {
    position: relative;

    &--icon {
      width: 15%;
      max-width: 2.1rem;
      height: auto;
      position: absolute;
      right: 7.5%;
      top: 50%;
      transform: translate(0%, -45%);

      svg {
        max-width: 100%;

        g > * {
          stroke: #fff;
          transition: 0.15s stroke ease-in-out;
        }
      }

      &-2 {
        position: absolute;
        z-index: 100;

        svg {
          g > * {
            stroke: orange;
          }
        }
      }
    }

    span {
      color: #fff;
      transition: 0.15s color ease-in-out;
    }

    &:hover {
      span {
        color: #000;
      }
      .cta-zoomIn--icon {
        svg g > * {
          stroke: #000;
        }
      }
    }
  }
}

.multi--addItem {
  background-color: $color-black;
  position: relative;
  overflow: hidden;
  
  svg {
    position: absolute;
    transition: 0.13s transform ease-out;
    z-index: 500;
    right: 1.5rem;
  }

  &__1 {
    transform: translate(0, 0);
   }

  &__2 {
    transform: translate(0, 200%);
  }

  // &-check {
  //   transform: translate(0,0);
  // }

  &:hover {
    .multi--addItem__1 {
      transform: translate(0, -200%);
    }

    .multi--addItem__2 {
      transform: translate(0, 0);
    }
  }
}

.company-input {
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.phone-input {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

@media screen and (max-width: 725px) {
  .company-input,
  .phone-input {
    margin: 0.5rem 0;
  }
}

.added-btn {
  padding-right: 5rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
}

.underline {
  border-bottom: solid 1px #000;
}

#loadingbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50rem;
  height: auto;

  &-background {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $color-black;
  }
}