.footer {
  background-color: $color-black;
  // padding: 3rem 0;
  position: relative;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  > * {
    color: #efefef;
  }

  &_link {
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    margin-left: 4.4rem;
    transform: translateY(-62.5%);

    a {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #efefef;
      text-decoration: none;
      font-family: "UniversCondensed";
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.7rem;

      span {
        margin-right: 0.7vmax;
        svg {
          width: 100%;
        }
      }
    }

    &-email {
      &_icon {
        width: 3rem;
      }
    }
    &-site {
      &_icon {
        width: 2rem;
        transform: translateY(-0.3vmax);
      }
    }
  }

  &_cta {
    // background-color: #c3343e;
    text-align: center;
    font-family: "UniversCondensed";
    text-transform: uppercase;
    font-weight: 900;

    &_title {
      font-size: 4rem;
      line-height: 0.83;
    }

    &_subtitle {
      font-size: 2.2rem;
    }

    &_link {
      // color: #d0d43e;
      text-decoration: none;
    }
  }

  &_sportex-indicator {
    justify-self: right;
    margin-right: 6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6.4vw;
    width: 17rem;
    &-logo {
      fill: #fff;
      height: auto;
      width: 100%;
    }

    &_text {
      display: inline-block;
      position: relative;
      font-family: "UniversCondensed";
      font-weight: 800;
      text-transform: uppercase;
      padding-bottom: 0.42vw;
      margin-top: -0.89vw;
      font-size: 12px;

      @media only screen and (max-width: 1200px) {
        padding-bottom: calc(0.42vw * 1.5);
        margin-top: calc(-0.89vw * 1.5);
        font-size: 18px;
      }
    }

    @media only screen and (max-width: 1200px) {
      height: calc(6.4vw * 1.5);
      width: calc(16.3vw * 1.5);
    }
  }

  &_disclosure {
    position: absolute;
    right: 6.2rem;
    bottom: 1rem;
    opacity: 0.5;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: repear(3, 1fr);

    &_link {
      margin: 0 auto;
      padding: 3rem;
      width: 60%;

      a {
        font-size: 1.9vmax;
      }

      &-email {
        &_icon {
          width: 3.2vmax;
        }
      }
      &-site {
        &_icon {
          width: 2.1vmax;
          transform: translateY(-0.3vmax);
        }
      }
    }

    &_cta {
      order: -1;
      padding: 6rem 3rem 0rem;

      &_title {
        font-size: 3.2vmax;
      }

      &_subtitle {
        font-size: 2.2vmax;
      }
    }

    &_sportex-indicator {
      justify-self: center;
      width: 50vw;
      margin: 4rem 0 6rem;

      &_text {
        font-size: 2.3vw;
      }
    }
  }

  @media screen and (max-width: 650px) {
    &_link {
      margin: 0 auto;
      padding: 3rem;
      width: 90%;

      a {
        font-size: 1.9vmax;
      }

      &-email {
        &_icon {
          width: 3.2vmax;
        }
      }
      &-site {
        &_icon {
          width: 2.1vmax;
          transform: translateY(-0.3vmax);
        }
      }
    }

    &_sportex-indicator {
      justify-self: center;
      width: 85vw;
      margin: 4rem 0 6rem;

      &_text {
        font-size: 3.3vw;
      }
    }
  }
}
