.WishlistHowTo {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s opacity;

  &--inactive {
    pointer-events: none;
    opacity: 0;
  }

  &_popup {
    background-color: #fff;
    width: 60vw;
    max-width: 1200px;
    height: 33vw;
    max-height: 67.5rem;
    padding: 5rem 10rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 47.5rem;

    @media screen and (max-width: 1875px) {
      padding: 3rem 7rem 4rem;
    }

    @media screen and (max-width: 1400px) {
      padding: 1.5rem 4rem 2rem;
      width: 65vw;
    }

    @media screen and (max-width: 1080px) {
      padding: .5rem 2.5rem .75rem;
      width: 77.5vw;
      min-height: 42.5rem;
    }

    @media screen and (max-width: 820px) {
      min-height: none;
      padding: .5rem 2.5rem .75rem;
      width: 70vw;
      height: 90vh;
    }

    @media screen and (max-width: 550px) {
        padding: 2rem 4rem 1.25rem;
        width: 90vw;
        height: 90vh;
    }

    @media screen and (max-width: 450px) {
      width: 100vw;
      height: 100vh;
  }

    &-title {
      font-size: 4.2rem;
      font-family: "UniversCondensed";
      text-align: center;

      @media screen and (max-width: 1870px) {
        font-size: 3.2rem;
      }
    }

    &-guide {
      max-height: 60%;
      width: 100%;
      // background-color: palevioletred;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media screen and (max-width: 1875px) {
        margin-top: -2.5rem;
      }

      @media screen and (max-width: 820px) {
        flex-direction: column;
      }


      &--step {
        width: 9vmax;
        max-width: 15rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: darkolivegreen;

        @media screen and (max-width: 1875px) {
          width: 12.5rem;
        }

        @media screen and (max-width: 820px) {
          max-width: none;
          width: 70%;
          justify-content: space-around;
          flex-direction: row;
          height: 9rem;
        }

        @media screen and (max-width: 550px) {
          width: 95%;

        }

        &_icon {
          &--container {
            width: auto;
            height: 10.2rem;
            margin: 0.4rem 0 4.3rem;

            @media screen and (max-width: 1875px) {
              margin-bottom: 1rem;
              width: 70%;
            }

            @media screen and (max-width: 820px) {
              width: 6rem;
            }
            svg {
              height: 100%;
              max-width: 100%;
            }
          }
        }

        &_text {
          text-align: center;
          font-size: 2.1rem;
          font-family: "UniversCondensed";
          font-weight: 800;
          text-transform: capitalize;
          
          @media screen and (max-width: 1875px) {
            font-size: 1.75rem;
          }

          @media screen and (max-width: 820px) {
            width: 10rem;
          }
        }
      }
      &--arrow {
        width: 1.5rem;
        transform: translateY(-100%);

        @media screen and (max-width: 1875px) {
          transform: translateY(-50%);
        }

        @media screen and (max-width: 820px) {
          display: none;
        }
      }
    }

    &-button {
      border: none;
      font-size: 2.4rem;
      font-family: "UniversCondensed";
      font-weight: 800;
      text-transform: uppercase;
      color: #fefefe;
      border: solid #000 0.4rem;
      height: 7.2rem;
      width: 28.5rem;
      cursor: pointer;
      position: relative;

      // box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
      transition: 0.15s box-shadow ease-out, 0.05s color ease-in-out;
      z-index: 20;

      @media screen and (max-width: 1875px) {
        font-size: 2.1rem;
        height: 5.8rem;
        width: 23.25rem;
      }

      @media screen and (max-width: 820px) {

      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 100%;
        z-index: -1;
        background-color: #000;
        transition: 0.1s all ease-in-out;
      }

      &-icon {
        height: 100%;
        width: auto;
        &--container {
          position: absolute;
          height: 40%;
          top: 50%;
          right: 3.5rem;
          transform: translate(0, -50%);
          transition: 0.2s transform ease-out;
          min-width: 1rem;

          #arrowLine,
          #arrowPath {
            transition: 0.1s all ease-in-out;
          }
        }
      }

      &:hover {
        color: #000;
        transition: 0.125s box-shadow ease-in, 0.04s color 0.04s ease-in-out;
        &::before {
          height: 0%;
        }
        span[data-type="arrow"] {
          transform: translate(0.5rem, -50%);
        }

        #arrowLine,
        #arrowPath {
          stroke: #000 !important;
        }
      }

      &:active {


        span[data-type="arrow"] {
          transform: translate(-0.5rem, -50%);
        }
      }
    }
  }
}
